source https://nexusoss.betclicstage.com/repository/betclic.nuget.production/
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget coverlet.collector
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio